//
// Me
// ====================================

// Me
.me-wrapper {
  position: relative;
  width: 170px;
  height: 156px;
}

.me-inner {
  position: relative;
  overflow: hidden;
  width: 156px;
  height: 156px;
  border-radius: 50%;
  background-color: #fff;
}

.me {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 86px;
  height: 135px;
  margin-left: -43px;
  background: url(../svg/kamilla-portfolio-logo.svg);
}

.me-heart-wrapper {
  position: absolute;
  top: 15px;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
}

.me-heart {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  background: url(../svg/kamilla-portfolio-heart.svg);
}


// Me at work
$me-at-work-width:                  450px !default;
$me-at-work-width-self:             297px !default;
$me-at-work-max-height:             200px !default;
$me-at-work-cat-width:              120px !default;
$me-at-work-cat-head-width:         50px  !default;
$me-at-work-cat-height:             86px  !default;

.me-at-work-wrapper {
  max-width: $me-at-work-width;
  margin: 80px auto;

  @include media-breakpoint-up(sm) {
    margin: 120px auto 80px;
  }
}

.me-at-work {
  position: relative;
  max-height: 200px;
  @include clearfix();
}

.me-at-work-self {
  position: relative;
  width: percentage(297px / $me-at-work-width);
  margin-left: percentage(10px / $me-at-work-width);
  float: left;
}

// cat at work
.me-at-work-cat {
  position: absolute;
  width: percentage($me-at-work-cat-width / $me-at-work-width);
  right: percentage(20px / $me-at-work-width);
  bottom: percentage(33px / $me-at-work-max-height) * -1; // 33 is height of tail
}

.me-at-work-cat-head {
  position: absolute;
  width: percentage($me-at-work-cat-head-width / $me-at-work-cat-width);
  top: percentage(20px / $me-at-work-cat-height);
}

.me-at-work-cat-dream {
  width: 100%;
  position: absolute;
  top: -112%;
  right: percentage(17px / $me-at-work-cat-width) * -1;
}

// song
.me-at-work-song {
  width: percentage(25px / $me-at-work-width-self);
  top: percentage(30px / $me-at-work-max-height) * -1;
  right: percentage(5px / $me-at-work-width-self) * -1;
  position: absolute;

  &.second {
    right: percentage(30px / $me-at-work-width-self) * -1;
    top: percentage(10px / $me-at-work-max-height);
  }
}

// table
.me-at-work-table {
  img {
    @include center-block();
  }
}
