//
// Structure
// ====================================


.container {
  max-width: $container-width;
  margin: 0 auto;
  padding-left: $container-horizontal-padding;
  padding-right: $container-horizontal-padding;
  @include clearfix();
}
